// CSS reset - to remove unwanted margins and padding
* {
  margin: 0;
  padding: 0;
}

// Combines all of the commonly used display flex options into a mixin to avoid duplication. Can pass in a value for justify-content
@mixin flexCenter($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

// Container at the top of the page, which houses the navigation options and title.
.nav-header {
  width: 100%;
  font-family: $site-font;

  nav {
    @include flexCenter(flex-start);
    height: 10vh;
    position: absolute;

    h1 {
      margin-left: 20px;
      color: $nav-text-colour;
      text-shadow: $nav-text-shadow;
    }

    .nav-button-box {
      display: flex;
      align-items: center;
      padding: 15px;

      a {
        color: $nav-text-colour;
        text-shadow: $nav-text-shadow;
        text-decoration: none;
      }
    }

    // Nav bar button icons will disappear to make space on mobile screens.
    @media screen and (max-width: 599px) {
      .nav-icon {
        display: none;
      }
    }

    .nav-icon {
      width: 25px;
      height: 25px;
      padding: 5px;
    }
  }

  .banner-container {
    @include flexCenter(center);
    width: 100%;
    height: 100%;
    color: $nav-text-colour;

    // Container for cover text and buttons
    .cover-centre-elements-container {
      @include flexCenter(center);
      flex-direction: column;
      position: absolute;

      //Container for cover buttons (must change flex direction to have side by side)
      .button-box {
        flex-direction: row;

        .cover-button-icon {
          width: 35px;
          height: 35px;
          padding: 5px;
        }
      }

      // Headline text centred on the cover image
      .cover-text {
        // To make the text centre relative to the first (non-static) element; banner container.
        color: white;

        // Off-set the text slightly below centre for aesthetic
        margin-top: 100px;

        // Drop-shadow for better contrast with the cover image
        text-shadow: $nav-text-shadow;

        // Font will size in accordance with viewport width
        font-size: 3vw;

        // Size-up the font slightly on smaller screens
        @media screen and (max-width: 599px) {
          font-size: 20px;
        }
      }
    }
  }
}

.cover-image {
  width: 100%;
  background-size: cover;
}

.main-section {
  width: 100%;
  background-color: orange;
}
