// CSS reset - to remove unwanted margins and padding
* {
  margin: 0;
  padding: 0;
}

// Combines all of the commonly used display flex options into a mixin to avoid duplication. Can pass in a value for justify-content
@mixin flexCenter($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

// Container at the top of the page, which houses the navigation options and title.
.nav-header {
  width: 100%;
  font-family: $site-font;

  // Nav bar, containing my name and navigation buttons
  nav {
    // Aligns all nav elements together to the left, with a height dependent on view height.
    @include flexCenter(flex-start);
    height: 10vh;

    // Overlays the nav over the cover image
    position: absolute;

    // Styling the name on the top left
    h1 {
      margin-left: 20px;
      color: $nav-text-colour;
      text-shadow: $nav-text-shadow;
    }

    // Container for the button, text and link
    .nav-button-box {
      display: flex;
      align-items: center;
      padding: 15px;

      a {
        color: $nav-text-colour;
        text-shadow: $nav-text-shadow;
        text-decoration: none;
      }
    }

    // Nav bar button icons will disappear to make space on mobile screens.
    @media screen and (max-width: 599px) {
      .nav-icon {
        display: none;
      }
    }

    // Sizes icons consistently and spaces them out
    .nav-icon {
      width: 25px;
      height: 25px;
      padding: 5px;
    }
  }

  // Container for cover photo and text overlay
  .banner-container {
    @include flexCenter(center);
    width: 100%;
    height: 100%;
    color: $nav-text-colour;

    // Container for cover text and buttons
    .cover-centre-elements-container {
      @include flexCenter(center);
      flex-direction: column;
      position: absolute;
      height: 100px;

      //Container for cover buttons (must change flex direction to have side by side)
      .button-box {
        flex-direction: row;

        //
        .cover-button-icon {
          width: 35px;
          height: 35px;
          padding: 5px;
        }
      }

      // Headline text centred on the cover image
      .cover-text {
        // To make the text centre relative to the first (non-static) element; banner container.
        color: white;

        // Off-set the text slightly below centre for aesthetic
        margin-top: 100px;

        // Drop-shadow for better contrast with the cover image
        text-shadow: $nav-text-shadow;

        // Font will size in accordance with viewport width
        font-size: 3vw;

        // Size-up the font slightly on smaller screens
        @media screen and (max-width: 599px) {
          font-size: 20px;
        }
      }
    }
  }
}

// Cover image takes up full width of view screen
.cover-image {
  width: 100%;
  background-size: cover;
}

// Fills remaining page space with background colour (better contrast with white card in main section)
.background {
  background-color: $background-colour;

  // Fills remaining space (flex grow:1, flex shrink:1, flex-basis: auto)
  flex: 0 1 auto;
}

// Simple re-usable text element which spaces out separate sections throughout the site
.section-title {
  //Defines the section as a full width area
  width: 100%;

  // Centres the text div horizontally
  @include flexCenter(center);

  //Aligns the text div at the top of the cross axis
  align-items: flex-start;

  padding-top: 20px;
  padding-bottom: 10px;

  // Sets font family for all the children
  font-family: $site-font;

  // Spacing between paras
  h2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.centred-text-section {
  //Defines the section as a full width area
  width: 100%;

  // Centres the text div horizontally
  @include flexCenter(center);

  //Aligns the text div at the top of the cross axis
  align-items: flex-start;

  // Wraps the text within permitted space
  flex-wrap: wrap;

  padding-top: 20px;
  padding-bottom: 10px;

  // Sets font family for all the children
  font-family: $site-font;

  // Spacing between paras
  p {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

// Reused throughout to provide additional space at the end of pages
.spacing {
  width: 100%;
  padding-bottom: 100px;
  background-color: $background-colour;
}

// Defines the styling and behaviour of links throughout the site
a:link,
a:visited,
a:active {
  color: black;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
