// CSS reset - to remove unwanted margins and padding
* {
  margin: 0;
  padding: 0;
}

// Combines all of the commonly used display flex options into a mixin to avoid duplication. Can pass in a value for justify-content
@mixin flexCenter($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

// Container at the top of the page, which houses the navigation options and title.
.nav-header {
  width: 100%;
  height: 50vh;
  font-family: $site-font;
  background-color: rgb(105, 105, 105);

  nav {
    @include flexCenter(flex-start);
    height: 10vh;

    h1 {
      margin-left: 20px;
      color: $nav-text-colour;
    }

    .nav-button-box {
      display: flex;
      align-items: center;
      padding: 15px;

      a {
        color: $nav-text-colour;
        text-decoration: none;
      }
    }

    @media screen and (max-width: 599px) {
      .nav-icon {
        display: none;
      }
    }

    .nav-icon {
      width: 25px;
      height: 25px;
      padding: 5px;
    }
  }
}

.main-section {
  width: 100%;
  background-color: orange;
}
