// Defines a text color to be referenced by nav bars throughout the site
$nav-text-colour: white;

// Defines a text shadow to be referenced by nav bars throughout the site
$nav-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

// Defines a background color to be referenced by background elements throughout the site
$background-colour: #f5f5f5;

// Defines a text font to be referenced throughout the site
$site-font: "Trebuchet MS", Arial, sans-serif;

// Defines the shadow and radius of cards throughout the site
$card-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
$card-bord-radius: 5px;
